
.modal-container{
padding-bottom: 13px;
}

form{
    display: grid;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;

    input{
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 23px;
        font-size: 1.2rem;
        height: 45px;
        background-color: #F7F7F7;
        font-weight: 400;
        margin: 10px 0 0 0;
        border: none;
    }

    label{
        margin-top : 15px;
    }

}

.closeButton{
    background: transparent;
    border: none;
    cursor: pointer;
    justify-self: flex-start;
    display: grid;
    place-items: center;
    position: absolute;

    img{
        height: 14px;
    }
}

::ng-deep .mat-mdc-dialog-surface{
    border-radius: 12px 12px !important;
  }

.modal-header{
    display: flex;
    place-items: flex-start;
    align-items: center;
    padding: 17px;
    box-shadow: 0px 3px 6px #0000000F;
    z-index: 100;
    position: relative;

    h3{
        font-weight: 600;
        margin: 0 auto;
    }
}

.saveButton{
    background: linear-gradient(to right, #00A0C3,#00C7B8);
    color: white;
    font-weight: 600;
    border-radius: 12px;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    box-shadow: 0 0 15px #00000029;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.saveButton:disabled{
    background: #ccc;
    color: #fff;
    cursor: not-allowed;
}

.img-container{
    cursor: pointer;
    display: grid;
    button{
        border: none;
        background: transparent;
        cursor: pointer;
        display: grid;
        place-items: center;

        img{
            max-height: 300px;
        }
    }
}
