.item{
    display: flex;
    background-color: white;
    width: 340px;
    border-radius: 12px;
    box-shadow: 0 0 15px #0000001A;
    font-weight: 600;
    padding: 10px 0;
    font-size: 15px;
    height: 120px;
    overflow: hidden;

    .img-container{
        display: grid;
        place-items: center;
        cursor: pointer;
        min-width: 150px;
    }

    img{
        max-height: 115px;
        max-width: 140px;
        margin-top: -8px;
    }

    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .name{
        font-size: 18px;
    }

    .price{
        color: #1CB4BC;
    }

    .cartOptions-container{
        font-size: 40px;
        font-weight: 300;
        justify-content: center;
        display: grid;
        align-items: center;
        margin-left: auto;
        cursor: auto;
        justify-items: center;
        align-content: center;
        position: relative;
    }

    .add,.subtract{
        cursor: pointer;
    }

    .subtract{
        color: #a0a0a0;
    }

    .line{
        width: 57px;
        height: 1px;
        background-color: #d8d7d8;
    }

    .cartNumber{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        
        .number{
            background: linear-gradient(318deg,#00C7B8,#00A0C3);
            color: white;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            position: absolute;
            right: 40px;
        }
    }
}

.addedInCart{
    border: 2px solid #1CB4BC;
    width: 344px;
    padding: 8px 0;
}