header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    box-shadow: 0 0 15px #0000001A;
    padding: 18.5px 13.5px 17px 12.5px;
}

#hamburger-menu{
    cursor: pointer;
    div{
        width: 25px;
        height: 3px;
        background-color: #a5abb3;
        margin: 5px;
        border-radius: 3px;
    }
}

#logo{
    height: 39px;
    cursor: pointer;
}

.cartOptions{
    display: none;
}

@media screen and (min-width: 769px) {

    header{
        width: 90%;
        border-radius: 30px;
        margin: 20px auto;
    }

    .cartOptions{
        display: flex;
        gap: 10px;
    }

    #hamburger-menu{
        display: none;
    }
    
}
    
