button{
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
}

.items-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}