.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.items-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subheader{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-bottom: 1px solid #70707042;
    font-size: 18px;
    align-items: center;
    place-self: center;

    .title{
        margin-bottom: -10px;
    }

    .addProduct{
        font-size: 35px;
        font-weight: 300;
        margin-bottom: -10px;
        cursor: pointer;
    }
}

.menuButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto 0 10px 0;
}

.buy{
    width: 215px;
    border-radius: 26px;
}

app-item{
    width: 90%;
    display: grid;
    place-items: center;
}

@media screen and (min-width: 769px) {

    .menu{
        margin-top: 20px;
    }

    .items-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,320px);
        justify-content: center;
        margin-bottom: 40px;
    }

    .menuButtons{
        display: none;
    }

    .subheader{
        width: 88%;
        font-size: 30px;
        .addProduct{
            font-size: 55px;
        }
    }

    .clearCart{
        img{
            height: 35px;
            margin-bottom: -5px;
        }
    }


}