@import '../menu/menu.component.scss';

.subheader{
    align-items: flex-start;
    margin-top: 10px;
}

.back{
    display: none;
}

@media screen and (min-width: 769px) {

    .title{
        display: flex;
        align-items: center;
    }

    .back{
        display: block;
        height: 35px;
        cursor: pointer;
    }
}

