<div class="menu">
  <div class="items-container">
    <div class="subheader">
      <span class="title"> Cart </span>

      <span class="clearCart" (click)="clearCart()">
        <img src="assets/trash.svg" />
      </span>
    </div>

    <app-item *ngFor="let item of items$ | async" [item]="item"></app-item>
  </div>

  <div class="menuButtons" >
    <button class="viewCart" routerLink="/">
      BACK
    </button>

    <button class="buy mainButton" *ngIf="(cartInfo$ | async)!.totalPrice > 0">
      {{ "PAY " + (cartInfo$ | async)!.totalPrice + " EGP" }}
    </button>
  </div>
</div>
