<div class="menu">

  <div class="subheader">
    <span class="title">
      
      <img class="back" src="assets/back.png" routerLink="/">

      Cart 

    </span>

    <span class="clearCart" (click)="clearCart()">
      <img src="assets/trash.svg" />
    </span>
  </div>
  
  <div class="items-container">

    <app-item *ngFor="let item of items$ | async" [item]="item"></app-item>
  </div>

  <div class="menuButtons" >
    <button class="viewCart" routerLink="/">
      BACK
    </button>

    <button class="buy mainButton" *ngIf="(cartInfo$ | async)!.totalPrice > 0">
      {{ "PAY " + (cartInfo$ | async)!.totalPrice + " EGP" }}
    </button>
  </div>
</div>
